@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-text {
    transition: opacity 0.3s ease;
}

.w-16 .sidebar-text {
    opacity: 0;
    pointer-events: none;
    display: none;
}

nav svg {
    width: 1.5rem;
    height: 1.5rem;
}